.fullPage {
  display: flex;
  min-height: 200vh; }

.mainContainer {
  margin-left: 3.5rem;
  margin-right: 1.74rem; }

.mainContent {
  background: #F8F8F8;
  width: 100%;
  transition: 0.4s; }
  .mainContentInformationSite {
    display: flex;
    justify-content: space-between;
    min-height: 10rem;
    margin-top: 0.5rem; }
    .mainContentInformationSiteContainerImage {
      display: flex;
      align-items: center; }
    .mainContentInformationSiteLeftSide {
      display: flex;
      flex-direction: column;
      margin-right: 2rem; }
      .mainContentInformationSiteLeftSideText {
        display: flex;
        flex-wrap: wrap;
        max-height: 10rem;
        overflow-y: hidden;
        transition: 0.4s; }
      .mainContentInformationSiteLeftSide p:not(.mainContentInformationSiteLeftSide p:first-child) {
        margin-top: 2rem; }
    .mainContentInformationSiteImage {
      height: 100%;
      max-width: 540px;
      border-radius: 6px; }

.showMaxContent {
  transition: 0.4s;
  max-height: max-content; }

.headerPage {
  display: flex;
  justify-content: space-between;
  flex-direction: column; }
  .headerPageMain {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 2.625rem; }
    .headerPageMainTitle {
      display: flex; }
    .headerPageMainButtons {
      display: flex; }
      .headerPageMainButtonsItem {
        display: flex;
        align-items: center;
        transition: 0.4s;
        cursor: pointer; }
        .headerPageMainButtonsItemHover:hover {
          transform: translateY(5px); }
      .headerPageMainButtonsItem:not(.headerPageMainButtonsItem:last-child) {
        margin-right: 2rem; }
      .headerPageMainButtonsText {
        margin-right: 8px; }
  .headerPageNavigation {
    display: flex;
    flex-wrap: wrap;
    margin-top: 1rem; }
    .headerPageNavigationContainerItem {
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center; }
      .headerPageNavigationContainerItemText {
        padding: 0.5rem 1.375rem;
        visibility: visible;
        cursor: pointer; }
    .headerPageNavigationActiveItem {
      display: flex;
      align-items: center;
      height: 40px;
      border: 2px solid #B8FFEC;
      border-radius: 6px;
      background-color: white;
      cursor: pointer; }
    .headerPageNavigationItem {
      cursor: pointer; }

.chapters {
  display: flex;
  flex-direction: column;
  margin-top: 2rem; }

.chapterContainer {
  width: 100%;
  min-height: max-content; }
  .chapterContainerPageTitle {
    display: flex;
    align-items: center;
    min-height: 3.5rem;
    margin-left: -3.5rem;
    margin-right: -1.74rem;
    color: #7E7E82;
    border-top: 1px solid #D9FFF5;
    background: linear-gradient(90deg, #F8F8F8 0%, #FFFFFF 98.61%); }
    .chapterContainerPageTitleText {
      margin-left: 3.5rem; }
  .chapterContainerPageContent {
    margin-top: 0.5rem; }
  .chapterContainer:not(.chapterContainer:first-child) {
    margin-top: 3.125rem; }

.rotateImg {
  transform: rotateX(180deg);
  transition: 0.4s; }

.cardsList {
  display: flex;
  flex-wrap: wrap;
  max-height: 11.5rem;
  overflow-y: hidden; }

.card {
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
  padding: 1rem;
  border: 1px solid #EAEAEA;
  border-radius: 6px;
  background: #FFFFFF;
  transition: 0.4s; }
  .card:hover {
    transform: scale(1.025); }
  .card:not(.card:last-child) {
    margin-right: 2rem; }

.companyCard {
  display: flex;
  align-items: center;
  min-width: 15rem;
  height: 4.5rem; }

.applianceCard {
  min-width: 15rem;
  min-height: 10rem; }

.flexEndImg {
  display: flex;
  align-items: flex-end; }

.indicatorPage {
  position: relative;
  top: 0;
  left: -3.5rem;
  width: 0.1875rem;
  height: 2.5rem; }

.servicesTable {
  width: 100%;
  min-height: 324px; }
  .servicesTableHeader {
    display: flex;
    justify-content: space-between;
    padding: 0 1.5rem; }
  .servicesTableBody {
    padding: 0 1.5rem;
    border-radius: 6px;
    background: #FFFFFF; }

.serviceParagraph {
  max-width: 26.375rem;
  font-size: 14px;
  margin-top: 2rem;
  margin-bottom: 1rem; }

.serviceButton {
  margin-bottom: 3.125rem; }

.serviceButton:hover {
  transform: translateX(1rem); }

.serviceItem {
  display: flex;
  align-items: center;
  font-size: 14px;
  min-height: 4rem; }
  .serviceItemButton {
    max-width: 7.5rem;
    min-height: 2rem;
    font-size: 12px;
    font-weight: bold;
    padding: 0 0.75rem;
    color: #FFFFFF;
    background: #FF3E79;
    border-radius: 1rem;
    transition: 0.4s; }
    .serviceItemButton:hover {
      transform: scale(1.025); }
  .serviceItemRow {
    display: flex; }
    .serviceItemRowHeader {
      color: #7E7E82;
      font-size: 14px;
      margin-top: 1.5rem;
      margin-bottom: 1rem; }
  .serviceItemRow:first-child {
    width: 50%; }
  .serviceItemRow:nth-child(2) {
    justify-content: flex-start;
    width: 25%; }
  .serviceItemRow:nth-child(3) {
    justify-content: flex-start;
    width: 20%; }
  .serviceItemRow:nth-child(4) {
    display: flex;
    justify-content: flex-end;
    width: 15%; }
  .serviceItem:not(.serviceItem:last-child) {
    border-bottom: 1px solid #EAEAEA; }

.footer {
  min-height: 85px; }
  .footerText {
    color: #7E7E82;
    text-decoration: none;
    font-size: 14px;
    max-width: 330px;
    cursor: pointer; }
    .footerText:last-child {
      text-align: end; }
    .footerText:hover {
      text-decoration: underline; }
  .footerContent {
    display: flex;
    justify-content: space-between;
    margin-top: 2rem; }
  .footerSlider {
    width: 100%;
    height: 1px;
    margin-left: -3.5rem;
    margin-right: -1.74rem;
    background: #D9FFF5; }

@media (max-width: 768px) and (min-width: 361px) {
  .mainContainer {
    margin-left: 1.25rem; }

  .card:not(.card:last-child) {
    margin-right: 1rem; }

  .applianceCard {
    min-width: 14rem; }

  .companyCard {
    min-width: 14rem; }

  .headerPageMainButtons {
    display: none; }
  .headerPageNavigation {
    flex-wrap: nowrap;
    max-width: 45rem;
    overflow-x: auto; }
    .headerPageNavigationContainerItem {
      min-width: max-content; }

  .mainContent {
    max-width: 768px; }
    .mainContentInformationSite {
      margin-top: 2rem; }
      .mainContentInformationSiteImage {
        max-width: 22.5rem; } }

/*# sourceMappingURL=Main.module.css.map */
