.fullPage {
  display: flex;

  height: 200vh;
}

.mainContainer {
  margin-left: 3.5rem;
  margin-right: 1.74rem;
}

.mainContent {
  width: 78vw;
  background: #F8F8F8;

  transition: 0.4s;

  &InformationSite {
    display: flex;

    width: 100%;
    min-height: 10rem;

    margin-top: 0.5rem;

    &LeftSide {
      margin-right: 2rem;

      & p:not(&p:first-child) {
        margin-top: 2rem;
      }
    }

    &Image {
      width: 530px;

      border-radius: 6px;
    }
  }
}

.headerPage {
  display: flex;
  justify-content: space-between;
  flex-direction: column;

  &Main {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding-top: 2.625rem;

    &Title {
      display: flex;
    }

    &Buttons {
      display: flex;

      &Item {
        display: flex;
        align-items: center;

        transition: 0.4s;

        cursor: pointer;

        &Hover:hover {
          transform: translateY(5px);
        }
      }

      &Item:not(&Item:last-child) {
        margin-right: 2rem;
      }

      &Text {
        margin-right: 8px;
      }
    }
  }

  &Navigation {
    //position: relative;

    display: flex;
    flex-wrap: wrap;

    margin-top: 1rem;

    &ContainerItem {
      position: relative;

      display: flex;
      justify-content: center;
      align-items: center;

      &Text {
        padding: 0.5rem 1.375rem;
        visibility: visible;

        cursor: pointer;
      }
    }

    &ActiveItem {
      display: flex;
      align-items: center;
      height: 40px;

      border: 2px solid #B8FFEC;
      border-radius: 6px;

      background-color: rgba(255, 255, 255, 1);

      cursor: pointer;
    }

    &Item {
      cursor: pointer;
    }
  }
}

.chapters {
  display: flex;
  flex-direction: column;

  margin-top: 2rem;
}

.chapterContainer {
  width: 100%;

  &Page {

    &Title {
      display: flex;
      align-items: center;

      min-height: 3.5rem;

      margin-left: -3.5rem;
      margin-right: -1.74rem;

      color: #7E7E82;

      border-top: 1px solid #D9FFF5;

      background: linear-gradient(90deg, #F8F8F8 0%, #FFFFFF 98.61%);

      &Text {
        margin-left: 3.5rem;
      }
    }

    &Content {
      margin-top: 0.5rem;
    }
  }

  &:not(&:first-child) {
    margin-top: 3.125rem;
  }
}

.companyCards {
  display: flex;
  flex-wrap: wrap;

  overflow-x: auto;
  overflow-y: hidden;
}

.companyCard {
  display: flex;
  justify-content: space-between;
  align-items: center;

  min-width: 15rem;
  min-height: 4rem;

  margin-top: 1rem;
  padding: 0 1rem;

  border: 1px solid #EAEAEA;
  border-radius: 6px;

  background: #FFFFFF;

  transition: 0.4s;

  &:hover {
    transform: scale(1.025);
  }

  &:not(&:last-child) {
    margin-right: 2rem;
  }
}


.indicatorPage {
  position: relative;
  top: 0;
  left: -3.5rem;

  width: 0.1875rem;
  height: 2.5rem;
}