.fullPage {
  display: flex;
}

.mainContent {
  width: 78vw;
  background: #F8F8F8;

  transition: 0.4s;
}

.headerPage {
  display: flex;
  justify-content: space-between;
  flex-direction: column;

  &Main {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding-top: 2.625rem;

    &Title {
      display: flex;
    }

    &Buttons {
      display: flex;

      margin-right: 30px;

      &Item {
        display: flex;
        align-items: center;

        cursor: pointer;
      }

      &Item:not(&Item:last-child) {
        margin-right: 2rem;
      }

      &Text {
        margin-right: 8px;
      }
    }
  }

  &Navigation {
    //position: relative;

    display: flex;
    flex-wrap: wrap;

    margin-top: 1rem;
    margin-left: 3.5rem;

    &ContainerItem {
      display: flex;
      //justify-content: center;
      //align-items: center;

      //width: 100%;
      //height: 40px;

      //margin-right: 3rem;
    }

    &ActiveItem {
      //position: absolute;

      display: flex;
      align-items: center;
      //justify-content: center;

      width: 200%;
      height: 40px;

      border: 2px solid #B8FFEC;
      border-radius: 6px;

      background-color: rgba(255, 255, 255, 1);
      //visibility: hidden;

      &Text {
        visibility: visible;
      }
    }

    &Item {
      //position: relative;
      //padding: 2rem;
      cursor: pointer;
    }

    &Item:not(&Item:last-child) {
      //margin-right: 3rem;
    }
  }
}

.indicatorPage {
  position: relative;
  top: 0;
  left: 0;

  width: 0.1875rem;
  height: 2.5rem;

  margin-right: 1.875rem;
}