.menu {
  position: sticky;
  top: 0;
  left: 0;
  overflow-y: auto;
  min-width: 20rem;
  padding: 0 1.5rem;
  transition: 0.4s; }
  .menuHiddenIcon {
    display: none; }
  .menuHide {
    transform: translateX(-20rem); }
  .menuIcons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    min-height: 100px; }
  .menuFooter {
    position: absolute;
    bottom: 0; }
    .menuFooterLanguages {
      display: flex;
      margin-top: 2.5rem;
      margin-bottom: 2rem;
      list-style-type: none; }
    .menuFooterLanguage {
      cursor: pointer; }
    .menuFooterLanguage:not(.menuFooterLanguage:first-child) {
      margin-left: 0.4375rem; }
    .menuFooterIcon:not(.menuFooterIcon:first-child) {
      margin-left: 1rem; }
  .menuContacts {
    display: flex;
    flex-direction: column; }
    .menuContactsMail {
      margin-top: 1rem;
      color: #1B1C21;
      text-decoration: none; }
    .menuContactsMail:hover {
      text-decoration: underline; }
    .menuContactsPhone {
      margin-top: 0.75rem;
      font-size: 24px;
      font-weight: bold;
      color: #1B1C21;
      text-decoration: none;
      cursor: pointer; }
    .menuContactsPhone:hover {
      text-decoration: underline; }
  .menuList {
    position: relative;
    margin-top: 1.25rem;
    list-style-type: none; }
    .menuListItem {
      color: #1B1C21;
      cursor: pointer; }
      .menuListItemActive {
        color: #7E7E82; }
    .menuListItem:not(.menuListItem:first-child) {
      margin-top: 1.75rem; }

.activeIndicator {
  position: absolute;
  top: -1rem;
  left: -1.5rem;
  width: 4px;
  height: 2rem;
  background: #41F6D7;
  border-bottom-right-radius: 40%;
  border-top-right-radius: 40%;
  transition: 0.4s; }

.header {
  display: none;
  width: 100%;
  min-height: 5.5rem; }

@media (max-width: 768px) and (min-width: 361px) {
  .menu {
    display: none;
    max-height: 64rem;
    transform: translateX(-20rem); }
    .menuHiddenIcon {
      display: flex; }
    .menuLogo {
      margin-left: -3rem; }
    .menuListItem:not(.menuListItem:first-child) {
      margin-top: 2rem; }

  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1.5rem;
    background: #FFFFFF; }
    .headerSplit {
      height: 2rem;
      width: 2px;
      margin: 0 0.25rem;
      border-radius: 1px;
      background: #EAEAEA; }
    .headerLogo {
      margin-left: 1rem; }
    .headerIcon:not(.headerIcon:last-child) {
      margin-right: 1rem; }
    .headerHelpIcons {
      padding-left: 1.25rem; }
    .headerLeftSide {
      display: flex;
      align-items: center; }
    .headerRightSide {
      display: flex;
      align-items: center; } }
@media (max-width: 361px) {
  .menu {
    display: none;
    min-width: 22.5rem;
    max-height: 42.25rem;
    transform: translateX(-22.5rem); }
    .menuHiddenIcon {
      display: flex; }
    .menuLogo {
      margin-left: -3rem; }
    .menuList {
      margin-top: 0.5rem; }
      .menuListItem:not(.menuListItem:first-child) {
        margin-top: 1.5rem; }
    .menuFooterLanguages {
      margin-top: 0.5rem; } }
@media (max-width: 321px) {
  .menu {
    min-width: 20rem; } }

/*# sourceMappingURL=Menu.module.css.map */
